.komposer {
  --placeholder-color: #9197a3;
  --placeholder-color-focused: #bdc1c9;
}

textarea.komposer {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-height: 30rem;
  padding: 0;
  border: 0;
  outline: 0;
  resize: none;
  font-size: inherit;
  font-family: sans-serif;
  background-color: inherit;
  color: inherit;
}

textarea.komposer:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* 작은 화면 (모바일) */
main[role='main'] textarea.komposer {
  min-height: 8rem;
}

/* DM 넓은 화면 */
main[role='main'] aside[role='complementary'] textarea.komposer {
  min-height: initial;
}

/* 넓은 화면 (데스크탑, 3칼럼 구조, 타임라인 상단부분) */
main[role='main'] div[data-testid='primaryColumn'] textarea.komposer {
  min-height: initial;
}

div[aria-modal='true'] textarea.komposer {
  min-height: 6rem;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
textarea.komposer::-moz-placeholder {
  color: var(--placeholder-color);
}

textarea.komposer:focus::-moz-placeholder {
  color: var(--placeholder-color-focused);
}

textarea.komposer::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

textarea.komposer:focus::-webkit-input-placeholder {
  color: var(--placeholder-color-focused);
}
