.komposer {
  --placeholder-color: #9197a3;
  --placeholder-color-focused: #bdc1c9;
}

.komposer-suggest-area {
  --suggest-hover-color: rgb(245, 248, 250);
  --suggest-hover-color-dark: rgb(25, 39, 52);
  --suggest-hover-color-black: rgb(21, 24, 28);
}

textarea.komposer {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-height: 30rem;
  padding: 0;
  border: 0;
  outline: 0;
  resize: none;
  font-size: inherit;
  font-family: sans-serif;
  background-color: inherit;
  color: inherit;
}

textarea.komposer:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.komposer-suggest-area {
  background-color: inherit;
  box-shadow: 0 2px 5px #000;
}

.komposer-suggest-item {
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  text-align: left;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

.komposer-suggest-item .image {
  margin: 0 10px;
  border-radius: 50%;
  background-color: lightgray;
}

.komposer-suggest-item .label {
  flex-grow: 1;
  font-size: large;
}

.komposer-suggest-item .double-label {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.double-label .secondary {
  opacity: 0.5;
}

.komposer-bright .komposer-suggest-item:hover {
  background-color: var(--suggest-hover-color);
}

.komposer-bright .label,
.komposer-bright .double-label {
  color: black;
}

.komposer-dark .komposer-suggest-item:hover {
  background-color: var(--suggest-hover-color-dark);
}

.komposer-dark .label,
.komposer-dark .double-label {
  color: white;
}

/* 작은 화면 (모바일) */
main[role='main'] textarea.komposer {
  min-height: 8rem;
}

/* DM 넓은 화면 */
main[role='main'] aside[role='complementary'] textarea.komposer {
  min-height: initial;
}

/* 넓은 화면 (데스크탑, 3칼럼 구조, 타임라인 상단부분) */
main[role='main'] div[data-testid='primaryColumn'] textarea.komposer {
  min-height: initial;
}

div[aria-modal='true'] textarea.komposer {
  min-height: 6rem;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
textarea.komposer::-moz-placeholder {
  color: var(--placeholder-color);
}

textarea.komposer:focus::-moz-placeholder {
  color: var(--placeholder-color-focused);
}

textarea.komposer::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

textarea.komposer:focus::-webkit-input-placeholder {
  color: var(--placeholder-color-focused);
}
